.crisis-panel {
  background: white;
  border: 1px solid #333;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  margin: 1rem 0;
  overflow: hidden; }
  .crisis-panel.red {
    border-color: #f22613; }
    .crisis-panel.red .crisis-panel-label {
      border-color: transparent #f22613 transparent transparent;
      border-color: rgba(255, 255, 255, 0) #f22613 rgba(255, 255, 255, 0) rgba(255, 255, 255, 0); }
  .crisis-panel .crisis-panel-label {
    border-style: solid;
    border-width: 0 70px 40px 0;
    float: right;
    height: 0px;
    width: 0px;
    transform: rotate(360deg); }
  .crisis-panel .crisis-panel-content {
    padding: 0.5rem 1.5rem 0.875rem; }
  .crisis-panel.radius {
    border-radius: 0.6rem; }
  .crisis-panel .label-text {
    color: #fff;
    font-size: 0.75rem;
    font-weight: bold;
    position: relative;
    right: -40px;
    top: 2px;
    white-space: nowrap;
    transform: rotate(30deg); }
	.crisis-panel-title {
		font-weight: bold;
		display:inline;
		margin-right: 10px}
	.crisis-panel-date {
		font-weight: normal;
		display:inline;
		margin-right: 10px}
	.crisis-panel-state {
		font-weight: normal;
		display:inline;
		margin-right: 10px}
	.crisis-panel-abstract {
		font-weight: normal;
		display:inline;
		margin-right: 10px}


	.crisis-panel-title.small {
		font-weight: bold;
		font-size: 1rem;
		display:inline;
		margin-bottom: 1px;
		margin-right: 10px;
		margin-left: 10px}
	.crisis-panel-date.small {
		font-weight: normal;
		font-size: 0.9rem;
		display:inline;
		margin-bottom: 1px;
		margin-right: 10px}
	.crisis-panel-state.small {
		font-weight: normal;
		font-size: 0.9rem;
		display:inline;
		margin-bottom: 1px;
		margin-right: 10px}
	.crisis-panel-abstract.small {
		font-weight: normal;
		font-size: 0.75rem;
		margin-right: 10px;
		margin-left: 10px;
		margin-top: 1px;
		margin-bottom: 1px}

/* background for crisis status */

.verified-state {
	padding: 0.205rem 1rem 0.2305rem 1rem !important;
    font-size: 0.775rem !important;
    background-color: #2A363B;
    color: white !important;
    font-weight: bold !important;
    border-radius: 5px;
}


.spotted-state {
	padding: 0.150rem 1rem 0.20rem 1rem !important;
    font-size: 0.775rem !important;
    background-color: #EB735B;
    color: white !important;
    font-weight: bold !important;
    border-radius: 5px;

}


.over-state {
	padding: 0.205rem 1rem 0.2305rem 1rem !important;
    font-size: 0.775rem !important;
    background-color: #00A0B0;
    color: white !important;
    font-weight: bold !important;
    border-radius: 5px;

}

	.spotted-panel{
		box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);}
	.verified-panel{
			box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);}


		.submit-form {
		  border: 1px solid #cacaca;
			box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
		  padding: 1rem;
		  border-radius: 3px; }
		.submit-form .radio-loc {
			display: inline-block;
			margin-left: 10px;}
		.submit-form label {
			display: inline-block;
			margin-left: 10px;}
		.submit-form .form-label {
			display: block;
			margin-left: 10px;}
